{% extends 'base.html' %}
{% load static %}
{% block content %} 



  <div class="activity">

<div style="height:140px"></div>
<div style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;text-align: justify;margin-left: 3%;">
<p style="text-align:center pt-6 pb-5;"  align="center">

<span style="color:#385623">TRAINER/EXPERT NEEDED: DIGITAL SECTOR BACKGROUND</span>
<p style="text-align:center" align="center"><strong>
<span style="color:#385623">REF#DVTEXP1023</span></strong></p>


  <span style="color:#385623">Requesting Agency: </span>
  <span style="color:#000000">WATAD Association</span></p><strong>



  <span style="color:#385623">Contact Name:</span></strong> <span style="color:#000000">
    <strong> </strong>Omar JAMALEDDINE</span></p>
  

    <strong><span style="color:#385623">Announcement Date:</span>
    <span style="color:#ff0000"> 16 October 2023</span></strong></p>
  
    
    <strong><span style="color:#385623">Application Expiry Date:</span>
    <span style="color:#ff0000"> 30 October 2023</span></strong></p>
   

    <span style="color:#385623">E-mail:</span><span style="color:#000000"> </span></strong>
    <a href="mailto:Omar.jamaleddine@watad.org">Omar.jamaleddine@watad.org</a> </p>
   

    <strong><span style="color:#385623">Phone:</span>
    <span style="color:#2e74b5"> </span></strong><span style="color:#000000">+961 6 444 966</span></p>
     <span style="color:#385623">
     


      <strong>About WATAD</strong>:</span>

     <span style="color:#000000"> WATAD emerged out of an urgent need for development projects in Lebanon at various levels and sectors.
       A multi-disciplinary team of experts from the HR, environment, health, agriculture, engineering, education and Digital sectors came
        together in 2018 and decided to establish an NGO to provide much-needed services to people from all segments of society. Today, WATAD 
        serves a wide spectrum of the population regardless of their socioeconomic, political, or religious backgrounds, through t
        he implementation of our three main programs: Livelihoods, Health, and Emergency Response.</span></p>
        

        


     <strong><span style="color:#385623">Project Title:</span></strong>

      <span style="color:#000000"><strong> </strong>
    Digital Vocational Trainings &amp; Work Based Learning in collaboration with Expertise France under the SHABAKE 2 Project</span></p><strong>

      <span style="color:#385623">Project Objective:</span></strong><span style="color:#000000"><strong> </strong>

    The specific objective of the project is to provide vocational training to 120 male and female youth individuals
     from Lebanese and Syrian nationalities residing Tripoli, in the following fields: Digital Marketing, 
     Mobile Applications, Social Media &amp; Content Creation, Web Development, and Graphic Design; and enhancing their skills and employability by directly linking them to the job market, through a one month long paid internship.</span></p><strong>

      <span style="color:#385623">Training Programs:</span></strong><span style="color:#000000"><strong> 
      </strong>Graphic Design, Mobile Applications, Basic Web Development, Content Creation &amp; Social Media, and Digital Marketing </span></p>

      <span style="color:#385623">Project Length/Timeline:</span></strong><span style="color:#000000"><strong> 
       </strong>6 months, from 15 October 2023 to 14 March 2024. divided into two cycles.</span></p>

      <span style="color:#385623">Quotation Currency:</span></strong><span style="color:#000000"><strong>
      </strong>Please ensure that the quotation is provided in USD currency only to avoid  any risky changes in the exchange rates.</span></p>
   
      <span style="color:#385623">How to apply:</span></strong><span style="color:#000000"><strong> 
      </strong>Interested candidates should submit their signed quotations, copy of their certificates, and CVs by email to </span>

      <a href="mailto:omar.jamaleddine@watad.org">omar.jamaleddine@watad.org</a>
      <span style="color:#000000"> by 30/10/2023 at 2:00 PM. The interview with selected candidates will be 
        conducted between 1/11/23 and 3/11/23.</span></p><span style="color:#385623"><br> </span>


    <strong><span style="color:#385623">N.B:</span><span style="color:#2e74b5"> </span></strong>
    <span style="color:#000000">Candidates are encouraged to apply for multiple training topics if they meet the qualifications 
    and requirements for each. The minimum training hours required is 5, while the maximum hours to be delivered is 480.</span></p>
</div><hr>
    {% endblock content %} 



























    