{% extends 'base.html' %}
{% load static %}
{% block content %} 




<div class="job">

    <div style="height:140px"></div>
    <div style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;text-align: justify;margin-left: 3%;">
   
 
    
    <span><h3 style="text-align:center;color:#6d6a6f">Catering & Refreshments including delivery on a daily basis</span></h3>
    <div style="height:100px"></div>


    <strong><span style="color:#385623">Requesting Agency: </span>
        <span style="color:#000000">WATAD Association</span></p><strong>
      
      
      
        <span style="color:#385623">Contact Name:</span></strong> <span style="color:#000000">
          <strong> </strong>Omar JAMALEDDINE</span></p>
        
      
          <strong><span style="color:#385623">Announcement Date:</span>
          <span style="color:#ff0000"> 16 October 2023</span></strong></p>
        
          
          <strong><span style="color:#385623">Application Expiry Date:</span>
          <span style="color:#ff0000"> 30 October 2023</span></strong></p>
         
      
          <strong><span style="color:#385623">E-mail:</span>
          <a href="mailto:Omar.jamaleddine@watad.org">Omar.jamaleddine@watad.org</a> </p>
         
      
          <strong><span style="color:#385623">Phone:</span>
          <span style="color:#2e74b5"> </span></strong><span style="color:#000000">+961 6 444 966</span></p>
           <span style="color:#385623">

            <strong><span style="color:#385623">Mobile:</span>
                <span style="color:#2e74b5"> </span></strong><span style="color:#000000">+961 71 374 749</span></p>
                 <span style="color:#385623">
                    <div style="height:80px"></div>




    <div class="box" style="table-layout: auto;float:right;padding: 10px;flex-direction:column;">
    <div class="related-documents">Related documents: </div>

    <div class="field-content text-align:">
        
            <class style="color: black ;padding: 10px;" >
        <img class="file-icon" alt="File" title="document" src="document.png">
        <class style="color: black ;padding: 10px;" >
            <a href="https://daleel-madani.org/sites/default/files/calls_documents/annex_1_-_fb_quotation_0.docx"
            type="application/vnd.openxmlformats-officedocument.wordprocessingml.document; length=22928">annex_1_-_fb_quotation.docx</a></span>
            <br>
            <br>
            
            <class style="color: black ;padding: 10px;" >
            <img class="file-icon" alt="PDF icon" title="application/pdf" src="/modules/file/icons/application-pdf.png"> 
            <a href="https://daleel-madani.org/sites/default/files/calls_documents/tor_-_food_and_beverage_0.pdf" type="application/pdf; length=770581">tor_-_food_and_beverage.pdf</a></span>
        </div>



        <div class="type-of-call" >    
        <span class="views-label">Type of Call</span>  
            <div class="field-content">Calls for Tenders</div>  </div>
            <div class="views-field views-field">   
                <span class="field-intervention-sector-s-">Intervention Sector(s): </span>  
                <div class="field-content">Labor Livelihoods</div> 
             </div>
            </div>
            
            
                
                    
   
   








{% endblock content %} 