{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- <div style="height:100px"></div> -->
    <div class="container">
        <div class= "pt-5 pb-3 " style="display: flex; " >
               
        <img src="{% static 'img/usj.png' %}" alt="" style="width: 34%;height: 10%; border-radius: 15px ;margin-right: 50px;">  
          
        <div class="text-box" style="max-width:800px; float: right;
        border:3px solid; border-radius: 12px;border-right: 20%;">
        <div class="project-info" style="background-color: rgb(255, 255, 255);" > 
          <p> WATAD Association had the pleasure of attending the SHABAKE 1 closing<br>
            and SHABAKE 2 launching event with esteemed partners including Expertise France, the French Embassy, donors, and civil society organizations.
            As part of component 2 for the Rapid Response Mechanism on the SHABAKE 2 project funded by AFD Group,<br>
            we are committed to collaborating with prominent organizations to make a positive impact on society.
            </p>
            <br><br>
              <strong class="project-title"> <br><br><br><br><br>
            <div class="container">
                        <div class="title" >share viaaaa</div>
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        <i class="fa fa-envelope" aria-hidden="true"></i>

                     


</div>
</div></div>
</div>
</div>


<!--  
    <img src="{% static 'img/usj.png' %}" alt="">
     
<img src="{% static 'img/usj.png' %}" alt="">

     -->

{% endblock content %}