{% extends 'base.html' %}
{% load static %}
{% block content %} 



<div class="container pb-5">
     
<div class="row">
<div class="col-lg-12">
                 

<h3 class="pb-3 pt-3">
Dear esteemed readers 
</h3>


<p class=""  style="font-size: 20px; line-height: 32px;">
I am writing to you today to share with you the story of WATAD, an organization that was founded in 2018 with a mission to relieve the burdens of the citizens in Lebanon caused by economic, institutional, and social hardships. <br><br>


At the time of our founding, Lebanon was facing a number of challenges, including an economic crisis, political turmoil, and social unrest. The country was struggling to provide basic services to its citizens, and many people were suffering as a result.<br><br>


A group of dedicated professionals and consultants came together to create an organization that could make a difference in the lives of individuals, regardless of their nationality, gender, race, religion, or social background. We knew that we had to act quickly and decisively to address the challenges facing our country, and we were committed to doing whatever it takes to help.<br><br>


Our programs include initiatives to provide income generating opportunities, and to improve access to high quality healthcare and other essential services. We have also worked on developing emergency response mechanisms in order to efficiently tackle future inevitable crises.
None of this would have been possible without the dedication and hard work of our team, which includes some of the most talented and committed professionals and consultants in Lebanon. Additionally, our gratitude extends to the presence of our esteemed partners, local and international, for their continuous efforts on helping WATAD in achieving its goals.


Of course, there is still much work to be done. The challenges facing Lebanon are complex and multifaceted, and there are many people who continue to suffer. But we are committed to continuing our work, and to doing everything in our power to help those in need.
Sincerely,

Ghayth AL MERHABI
</p>
</div>
</div>

</div>






{% endblock content %} 
    