{% extends 'base.html' %}
{% load static %}
{% block content %} 




<div class="container pb-5">
     
<div class="row">
<div class="col-lg-12">
                 
    <h4 class="pt-3 pb-3 " >Vision:</h4>
    <p style="font-size: larger;"> Healthy and productive communities where all individuals have smooth access to affordable healthcare services and sustainable livelihoods opportunities (ecosystem).</p>

    <h4 class="pt-3 pb-3">Mission:</h4>
    <p style="font-size: larger;" > Confront society's immense challenges through comprehensive and inclusive development and emergency mechanisms implemented efficiently in our programs to enhance the overall well-being of communities in Lebanon.</p>
    <h4 class="pt-3 pb-3">Values:</h4>
        <p style="font-size: larger;">1-Quality:
            WATAD is committed to high standards of quality through its programs.<br><br>
            2-Efficiency:
            WATAD believes in efficiently allocating its human and financial resources to achieve the best results.<br><br>
            3-Inclusion:
            WATAD makes sure that each program is adapted in an inclusive and comprehensive manner that extends to all segments of the community regardless of nationality, race, gender, nature of disability, and social backgrounds
        </p>
</div>
</div>

</div>






{% endblock content %} 
    